<head>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">



  <style>

  body{
    padding: 0;
    margin: 0;
    background-color: #546E7A;
  }

  #intro{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
  }

  .wrapper {
    text-align: center;
}

.btn-default {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 47%;
    width: 10%;
    height: 10%;
    font-size: 20px;
    background-color: #455A64;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.btn-default:hover{background-color: #37474F; color: white;}


  </style>


</head>


<body>

  <h1 id="intro">FreeCodeCamp Request Header Parser Microservice</h1>

  <div class="wrapper">
    <a href="/data"><button type="button" class="btn btn-default">Get Data</button>
</a>
  </div>



</body>
